<section class="about-section">
  <h2 class="about-title-additional">tradition and love</h2>
  <h2 class="about-title-primary">how it's made?</h2>
  <div class="about-contant-container">
    <img class="about-content-image" src="./images/mobile/about/m-about-cow@2x.png" alt="img">
    <p class="about-description-primary">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
    <p class="about-description-additional">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
  </p>
  <p class="about-description-additional">Aliquam erat volutpat. Aenean accumsan.</p>
  <button class="primary-btn">Read more
    <!-- <svg>
      <use href=""></use>
    </svg> -->
  </button>
  </div>
    <div class="about-list-container">
      <ul class="about-list">
        <li class="about-list-item">
          <h3 class="about-list-title">721</h3>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="about-list-item">
          <h3 class="about-list-title">16kg</h3>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="about-list-item">
          <h3 class="about-list-title">84</h3>
          <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>

</section>