<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Технология производства</h2>
    <ul class="advantages-list">
      <li class="advantages-items">
        <p class="advantages-number">721</p>
        <p class="advantages-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-items">
        <p class="advantages-number">16KG</p>
        <p class="advantages-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-items">
        <p class="advantages-number">84</p>
        <p class="advantages-description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
