<div id="contacts" class="contacts-section-background">
<section class="contacts-section container">
    <h2 class="visually-hidden">Contacts</h2>
<ul class="contacts-section-list">
    <li class="contacts-section-item">
        <p class="contacts-section-cafe">CAFE</p>
        <p class="contacts-section-city">Chicago</p>
        <p class="contacts-section-about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts-section-hr">
        <p class="contacts-section-working-days">Monday - Friday</p>
        <p class="contacts-section-working-days-time">06:00 AM - 10:00 PM</p>
        <p class="contacts-section-working-days">Saturday - Sunday</p>
        <p class="contacts-section-working-days-time">08:00 AM - 16:00 PM</p>
        <hr class="contacts-section-hr">
        <a href="tel:+610383766284" class="contacts-section-link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-section-link">noreply@envato.com</a>
    </li>
    <li class="contacts-section-item">
        <p class="contacts-section-foodtruck">FOOD TRUCK</p>
        <p class="contacts-section-city">Los Angeles</p>
        <p class="contacts-section-about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts-section-hr">
        <p class="contacts-section-working-days">Monday - Friday</p>
        <p class="contacts-section-working-days-time">06:00 AM - 10:00 PM</p>
        <p class="contacts-section-working-days">Saturday - Sunday</p>
        <p class="contacts-section-working-days-time">08:00 AM - 16:00 PM</p>
        <hr class="contacts-section-hr">
        <a href="tel:+610383766284" class="contacts-section-link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-section-link">noreply@envato.com</a>
    </li>
    <li class="contacts-section-item">
        <p class="contacts-section-cafe">CAFE</p>
        <p class="contacts-section-city">New York</p>
        <p class="contacts-section-about">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts-section-hr">
        <p class="contacts-section-working-days">Monday - Friday</p>
        <p class="contacts-section-working-days-time">06:00 AM - 10:00 PM</p>
        <p class="contacts-section-working-days">Saturday - Sunday</p>
        <p class="contacts-section-working-days-time">08:00 AM - 16:00 PM</p>
        <hr class="contacts-section-hr">
        <a href="tel:+610383766284" class="contacts-section-link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-section-link">noreply@envato.com</a>
    </li>
</ul>
<div class="contacts-section-button">
    <button class="secondary-btn" type="button">Our Locations
        <svg class="secondary-btn-icon">
            <use href="./images/sprite.svg#icon-right-arrow"></use>
        </svg>
    </button>
    
    <button class="primary-btn" type="button">Franchise
        <svg class="primary-btn-icon">
            <use href="./images/sprite.svg#icon-right-arrow"></use>
        </svg>
    </button>
</div>
</section>
</div>