<section class="contacts-section">
    <h2 class="visually-hidden">Contacts</h2>
<ul class="contacts-section-list">
    <li class="contacts-section-item">
        <p></p>
        <p></p>
        <p></p>
        <hr>
        <p></p>
        <p></p>
        <hr>
        <a href="" class="contacts-section-link-tel"></a>
        <a href="" class="contacts-section-linl-email"></a>
    </li>
    <li class="contacts-section-item">
        <p></p>
        <p></p>
        <p></p>
        <hr>
        <p></p>
        <p></p>
        <hr>
        <a href="" class="contacts-section-link-tel"></a>
        <a href="" class="contacts-section-linl-email"></a>
    </li>
    <li class="contacts-section-item">
        <p></p>
        <p></p>
        <p></p>
        <hr>
        <p></p>
        <p></p>
        <hr>
        <a href="" class="contacts-section-link-tel"></a>
        <a href="" class="contacts-section-linl-email"></a>
    </li>
</ul>
</section>