<section class="contacts-section">
    <h2 class="visually-hidden">Contacts</h2>
<ul class="contacts-section-list">
    <li class="contacts-section-item">
        <p class="contacts-section-cffe">CAFE</p>
        <p class="contacts-section-city">Chicago</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts-section-hr">
        <p class="contacts-section-working-days">Monday - Friday</p>
        <p class="contacts-section-working-days-time">06:00 AM - 10:00 PM</p>
        <p class="contacts-section-weekend">Saturday - Sunday</p>
        <p class="contacts-section-weekend-time">08:00 AM - 16:00 PM</p>
        <hr class="contacts-section-hr">
        <a href="tel:+610383766284" class="contacts-section-link-tel">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-section-linl-email">noreply@envato.com</a>
    </li>
    <li class="contacts-section-item">
        <p class="contacts-section-foodtruck">FOODTRUCK</p>
        <p class="contacts-section-city">Los Angeles</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts-section-hr">
        <p class="contacts-section-working-days">Monday - Friday</p>
        <p class="contacts-section-working-days-time">06:00 AM - 10:00 PM</p>
        <p class="contacts-section-weekend">Saturday - Sunday</p>
        <p class="contacts-section-weekend-time">08:00 AM - 16:00 PM</p>
        <hr class="contacts-section-hr">
        <a href="tel:+610383766284" class="contacts-section-link-tel">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-section-linl-email">noreply@envato.com</a>
    </li>
    <li class="contacts-section-item">
        <p class="contacts-section-cffe">CAFE</p>
        <p class="contacts-section-city">New York</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <hr class="contacts-section-hr">
        <p class="contacts-section-working-days">Monday - Friday</p>
        <p class="contacts-section-working-days-time">06:00 AM - 10:00 PM</p>
        <p class="contacts-section-weekend">Saturday - Sunday</p>
        <p class="contacts-section-weekend-time">08:00 AM - 16:00 PM</p>
        <hr class="contacts-section-hr">
        <a href="tel:+610383766284" class="contacts-section-link-tel">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="contacts-section-linl-email">noreply@envato.com</a>
    </li>
</ul>
    <button class="secondary-btn" type="button">Our Locations</button>
    
    <button class="primary-btn" type="button">Franchise</button>
</section>