<section class="customer">
    <div class="container">
        <picture class="customer-image desktop-face">
            <source srcset="./images/desktop/customer-reviews/desk-comment-1.png 1x, ./images/desktop/customer-reviews/desk-comment-1@2x.png 2x"
                type="image" media="">
            <img src="./images/desktop/customer-reviews/desk-comment-1.png" alt="Girl" width="85">
        </picture>
        <picture class="customer-image tablet-face">
            <source
                srcset="./images/tablet/customer-reviews/tablet-comment-1.png 1x, ./images/tablet/customer-reviews/tablet-comment-1@2x.png 2x"
                type="image" mediamobile>
            <img src="./images/tablet/customer-reviews/tablet-comment-1.png" alt="Girl" width="85">
        </picture>
        <picture class="customer-image mobile-face">
            <s
                srcset="./images/mobile/customer-reviews/m-comment-1.png 1x, ./images/mobile/customer-reviews/m-comment-1@2x.png 2x"
                type="image" media="">
            <img src="./images/mobile/customer-reviews/m-comment-1.png" alt="Girl" width="85">
        </picture>
        <div class="customer-box">
            <svg class="customer-quotes">
                <use href="./images/sprite.svg#icon-quotes"></use>
            </svg>
            <p class="customer-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>
        <ul class="customer-point">
            <li class="customer-point-list">
                <svg class="customer-icon-point">
                    <use href="./images/sprite.svg#icon-home-point"></use>
                </svg>
            </li>
            <li class="customer-point-list">
                <svg class="customer-icon-point">
                    <use href="./images/sprite.svg#icon-home-point"></use>
                </svg>
            </li>
            <li class="customer-point-list">
                <svg class="customer-icon-point">
                    <use href="./images/sprite.svg#icon-home-point"></use>
                </svg>
            </li>
        </ul>
        <p class="customer-name">Emily, Los Angeles</p>
        <ul class="customer-home">
            <li class="customer-home-list">
                <svg class="customer-icon-home home-one">
                    <use href="./images/sprite.svg#icon-home1"></use>
                </svg>
            </li>
            <li class="customer-home-list">
                <svg class="customer-icon-home">
                    <use href="./images/sprite.svg#icon-home-point"></use>
                </svg>
            </li>
            <li class="customer-home-list">
                <svg class="customer-icon-home">
                    <use href="./images/sprite.svg#icon-home-point"></use>
                </svg>
            </li>
        </ul>

    </div>
</section>