<section class="gallery">
    <div class="container gallery-container">
        <picture class="gallery-image mobile-gallery">
            <source srcset="./images/mobile/gallery/m-about-gallery.png 1x, ./images/mobile/gallery/m-about-gallery@2x.png 2x" type="image" media="(min-width: 600px)">
            <img src="./images/mobile/gallery/m-about-gallery.png" alt="Gallery">
        </picture>
        <picture class="gallery-image tablet-gallery">
            <source srcset="./images/tablet/gallery/tablet-about-gallery.png 1x, ./images/tablet/gallery/tablet-about-gallery@2x.png 2x"
                type="image" media="">
            <img src="./images/tablet/gallery/tablet-about-gallery.png" alt="Gallery">
        </picture>
        <picture class="gallery-image desktop-gallery">
            <source srcset="./images/desktop/gallery/desk-about-gallery.png 1x, ./images/desktop/gallery/desk-about-gallery@2x.png 2x"
                type="image" media="">
            <img src="./images/desktop/gallery/desk-about-gallery.png" alt="Gallery">
        </picture>
    </div>
</section>
