.about-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background-color);
  background-image: url('../../src/images/desktop/about/desk-about-bg.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 127px;
}
.about-title-additional{
  font-family: 'Titan One';
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1em;
  color: var(--secondary-accent);
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}
.about-title-primary{
  font-family: 'Titan One';
  text-transform: uppercase;
  font-size: 34px;
  line-height: 1.381em;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  padding-bottom: 26px;
  display: flex;
  justify-content: center;
  padding: 5px 35px;
  text-align: center;
}
.about-contant-container{
  margin: 21px;
}
.about-content-image{
  width: 100%;
  padding-bottom: 40px;
}
.about-section{
  background-image: url('../../src/images/mobile/about/desk-about-bg.svg');
  background-repeat: no-repeat;
  background-position-y: 698px;
  background-size: 100% auto;
  // padding: 30px;
}
.about-content-list{
  margin: 0 10px;
}
.about-content-list-item{
  margin-bottom: 30px;
}
.about-description-primary{
  font-family: 'DM Sans';
  display: flex;
  line-height: 162%;
  color: var(--primary-black-color);

}
.about-description-secondary{
  font-family: 'DM Sans';
  display: flex;
  line-height: 162%;
  // padding: 5px 35px;

}

.about-description-additional{
  font-family: 'DM Sans';
  display: flex;
  line-height: 162%;


}

.primary-btn {
  font-weight: normal;
  font-size: 15px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--background-accent-btn);
  }
}
.about-btn{
  margin: 0 auto;
  width: 160px;
  display: flex;
  padding: 10px 25px;
  justify-content: center;
}
.btn-icon{
  fill: var(--accent-color);
  margin: 0px 9px;
}

// Tablet

@media (min-width: 768px){
  .container {
    width: 768px;
    padding: 0 34px;
  }
  .about-section{
    background-image:none;
  }
  .about-contant-container {
    display: flex;

  }
  .about-content-image {
    width: 45%;
    height: 45%;
  }
  .about-content-list{
    margin: 50px 20px;
    background-image: none;
    width: 50%;
  }
  .about-content-list-item{
    margin-bottom: 30px;
  }
  .about-content-list-button{
    padding-top: 50px;
  }
  // .about-description-secondary {

  // }
  // .about-description-additional{
  //   margin-bottom: 20px;
  // }
  .about-btn{
    margin: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 46px;
  }
  .about-section{
    background-image: url('../../src/images/desktop/about/desk-about-bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position-y: 336px;
  }
  .about-contant-container {
    display: flex;
  }
  .about-content-list{
    margin: 60px 60px 0px 74px;
  }
  .about-title-additional{
    font-size: 30px;
  }
  .about-title-primary{
    font-size: 58px;
  }
  .about-title-secondary{
    font-size: 58px;
  }
  .about-description-primary{
    font-size: 16px;
  }
}