.about-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0px;

}
.about-title-additional{
  font-family: 'Titan One';
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  color: var(--secondary-accent);
  padding: 15px 0px;
  display: flex;
  justify-content: center;
}
.about-title-primary{
  font-family: 'Titan One';
  text-transform: uppercase;
  font-size: 34px;
  line-height: 29px;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  padding-bottom: 26px;
  display: flex;
  justify-content: center;
  padding: 5px 35px;
  text-align: center;
}
.about-content-image{
  width: 90%;
  padding-bottom: 40px;
}

.about-description-primary{
  font-family: 'DM Sans';
  display: flex;
  line-height: 162%;
  color: var(--primary-black-color);
  padding: 5px 35px;
  padding-bottom: 15px;
}
.about-description-additional{
  font-family: 'DM Sans';
  display: flex;
  line-height: 162%;
  padding: 5px 35px;
  // background-image: url('../../src/images/desktop/about/desk-about-bg.png');
}

.primary-btn {
  font-weight: normal;
  font-size: 15px;
  line-height: 1.25;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--background-accent-btn);
  }
}
.about-list-container{
  padding: 50px 10px;
}
.about-list-item{
  padding: 20px 0px;
}

.about-list-title{
  font-family: 'Titan one';
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--accent-color);
  padding: 20px 0px;
}
// .about-list-title:nth-child(1)::before{
//   content: url(../../images/mobile/about/);
// }
