// Header

.header {
  position: absolute;
  background-color: #ffb8ca;
  padding-bottom: 28px;
  padding-top: 6px;
}

.navigation .site-nav {
  display: none;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu .site-nav-link:hover,
.mobile-menu .site-nav-link:focus {
  color: var(--accent-color);
}

.logo {
  width: 200px;
  height: 50px;
}

.mobile-open-btn {
  position: absolute;
  padding: 0;
  top: 25px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.mobile-open-icon {
  width: 30px;
  height: 30px;
  fill: #d41443;
}

// Mobile menu
.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 250px;
  max-width: 480px;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 0 20px;
  padding-top: 22px;
  background-color: #e17992;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

<<<<<<< Updated upstream
  .mobile-menu.is-open {
    opacity: 1;
    overflow: scroll;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-close-btn {
    position: relative;
    margin-bottom: 36px;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: transparent;

  }

   .mobile-menu-buy-btn {
    width: 210px;
    height: 44px;
    padding: 0 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    
  }
=======
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
>>>>>>> Stashed changes

.mobile-menu-close-btn {
  position: relative;
  margin-bottom: 22px;
  margin-left: auto;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.mobile-menu-buy-btn {
  width: 210px;
  height: 44px;
  padding: 0 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}

.mobile-menu .mobile-menu-buy-btn {
  width: 186px;
  margin-bottom: 32px;
  margin-left: 10px;
}

.right-arrow-icon {
  margin-left: 16px;
  width: 10px;
  height: 10px;
  fill: var(--accent-color);
}

.mobile-menu-close-icon {
  position: absolute;
  top: 16px;
  left: 0px;
  width: 30px;
  height: 16px;
  fill: #fff;
}

.mobile-menu .site-nav-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--primary-white-color);
}

.site-nav-item {
  padding: 12px 0;
  border-top: 1px solid #e18298;
}

.site-nav:last-child {
  border-bottom: 1px solid #e18298;
}

// Hero
.hero {
  background-color: #ffb8ca;
  padding-top: 136px;
  padding-bottom: 160px;
  margin: 0;
}

.hero-title {
  width: 218px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.hero-title-span {
  font-size: 48px;
  line-height: 96.5%;
  color: var(--accent-color);
}

.hero-container .secondary-btn {
  padding: 8px 16px;
  margin-right: 4px;
}

.hero-container .primary-btn {
  padding: 8px 16px;
}

@media (max-width: 767px) {
  .header {
    position: static;
  }
  .navigation .mobile-menu-buy-btn {
    display: none;
  }

  .text-number {
    display: none;
  }

  .hero-text-milk {
    display: none;
  }

  .red-arrow {
    display: none;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 280px) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 280px) and (max-width: 767px) {
  .hero {
    background-image: url('../images/mobile/hero-header/m-hero@2x.png');
  }
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .hero {
    background-image: url('../images/mobile/hero-header/m-hero.png');
    background-size: 284px 420px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768) and (max-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1280px) {
  .hero {
    background-image: url('../images/tablet/hero-header/tablet-hero@2x.png');
  }

  .box {
    background-image: url('../images/tablet/hero-header/tablet-hero-milk@2x.png'),
      url('../images/tablet/hero-header/tablet-hero-girl@2x.png');
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .hero {
    background-image: url('../images/tablet/hero-header/tablet-hero.png');
    background-size: 346px 384px;
    background-repeat: no-repeat;
    background-position: 68% 100%;
  }

  .box {
    background-image: url('../images/tablet/hero-header/tablet-hero-milk@2x.png'),
      url('../images/tablet/hero-header/tablet-hero-girl@2x.png');
    background-size: 124px 126px, 168px 133px;
    background-repeat: no-repeat, no-repeat;
    background-position: 6% 90%, 94% 100%;
    position: relative;
  }

  .logo {
    margin-bottom: 14px;
  }

  .navigation {
    display: flex;
    align-items: flex-start;
  }

  .mobile-open-btn {
    position: static;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 10px;
  }

  .header {
    position: absolute;
    left: 50%;
    margin-left: -400px;
    background-color: transparent;
    padding-top: 38px;
    padding-bottom: 0;
  }

  .hero {
    padding-top: 102px;
    padding-bottom: 0;
  }

  .hero-title {
    width: 162px;
    font-size: 22px;
    line-height: 1.137;
    letter-spacing: 0.04em;
  }

  .hero-title-span {
    font-size: 34px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
  }

  .mobile-menu-buy-btn {
    margin-bottom: 0;
  }

  .mobile-menu-buy-btn {
    width: 160px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 86%;
    top: 4%;
  }

  .text-number {
    font-family: DM Sans, sans-serif;
    width: 50px;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    text-align: right;
    color: var(--primary-white-color);
    z-index: 2;
  }

  .text-number::after {
    position: absolute;

    right: -6px;
    content: '';
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-white-color);
    z-index: 0;
  }

  .text-number.text-number-one::after {
    top: -4px;
  }

  .text-number.text-number-two::after {
    top: 52px;
  }

  .text-number-span {
    position: relative;
    font-family: Titan One, sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
    z-index: 1;
  }

  .hero-text-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .hero-text-milk {
    position: relative;
    width: 114px;
    margin-top: 66px;
    margin-left: 120px;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
  }

  .red-arrow {
    width: 26px;
    height: 26px;
    margin-left: 120px;
    margin-top: 6px;
  }

  .box {
    padding-bottom: 34px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .hero {
    background-image: url('../images/desktop/hero-header/desk-hero@2x.png');
  }

  .box {
    background-image: url('../images/tablet/hero-header/tablet-hero-milk@2x.png'),
      url('../images/tablet/hero-header/tablet-hero-girl@2x.png');
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: url('../images/desktop/hero-header/desk-hero.png');
    background-size: 538px 613px;
    background-repeat: no-repeat;
    background-position: 63% 100%;
  }

  .box {
    background-image: url('../images/desktop/hero-header/desk-hero-milk.png'),
      url('../images/desktop/hero-header/desk-hero-girl.png');
    background-size: 188px 191px, 293px 232px;
    background-repeat: no-repeat, no-repeat;
    background-position: 2% 90%, 88% 100%;
    padding-bottom: 56px;
    position: relative;
  }

  .header {
    left: 50%;
    margin-left: -630px;
    background-color: transparent;
    padding-top: 38px;
    padding-bottom: 0;
  }

  .hero {
    padding-top: 171px;
    padding-bottom: 0;
    padding-left: 0;
  }

  .header-container {
    padding-right: 115px;
  }

  .navigation .site-nav {
    display: flex;
  }

  .site-nav {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.31;
    align-items: center;
    color: var(--primary-white-color);
  }

  .site-nave-item:not(:last-child) {
    margin-right: 35px;
  }

  .site-nav-link {
    color: #fff;
  }

  .logo {
    margin-bottom: 0;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }

  .hero-title {
    width: 277px;
    margin-bottom: 25px;
    margin-left: 30px;
    font-size: 38px;
    line-height: 1.15;
  }

  .hero-title-span {
    font-size: 58px;
    line-height: 90.5%;
  }

  .hero-container .primary-btn {
    width: 138px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
  }

  .hero-container .secondary-btn {
    margin-left: 30px;
    width: 104px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28;
  }

  .hero-text-milk {
    margin-top: 112px;
    margin-left: 210px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    color: #ffffff;
    letter-spacing: 0.03em;
  }

  .mobile-open-btn {
    display: none;
  }

  .text-number {
    width: 92px;
    font-size: 14px;
    line-height: 1.28;
  }

  .text-number-span {
    font-size: 46px;
    line-height: 1.15;
  }

  .text-number::after {
    width: 30px;
    height: 30px;
    right: -15px;
  }

  .text-number.text-number-two::after {
    top: 84px;
  }

  .hero-text-milk {
    width: 200px;
    font-size: 14px;
    line-height: 1.42;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 136px;
  }

  .text-number {
    font-family: DM Sans, sans-serif;
    width: 92px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.28;
    text-align: right;
    color: var(--primary-white-color);
    z-index: 2;
  }

  .text-number::after {
    position: absolute;

    right: -12px;
    content: '';
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-white-color);
    z-index: 0;
  }

  .text-number.text-number-one::after {
    top: -4px;
  }

  .text-number.text-number-two::after {
    top: 82px;
  }

  .text-number-span {
    position: relative;
    font-family: Titan One, sans-serif;
    font-weight: normal;
    font-size: 46px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
    z-index: 1;
  }

  .hero-text-item:not(:last-child) {
    margin-bottom: 16px;
  }

  .red-arrow {
    width: 26px;
    height: 26px;
    margin-left: 210px;
    margin-top: 20px;
  }
}
